@tailwind base;
@tailwind components;
@tailwind utilities;


/* global */

body {
  @apply bg-sky-50 my-[20%] md:my-[12%] lg:my-[9%] font-serif text-base md:text-lg;
}


/* custom */

.content {
  @apply px-[5%];
}

.main-title {
  @apply text-2xl md:text-4xl lg:text-5xl text-center;
}

.main-gallery {
  @apply grid grid-cols-1 gap-5 px-[3%] py-[2%];
}

.main-partition-left {
  @apply align-middle my-auto h-[2px] bg-gradient-to-l from-violet-700;
}

.main-partition-right {
  @apply align-middle my-auto h-[2px] bg-gradient-to-r from-violet-700;
}

.item-anchor {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;
}

.component-title {
  @apply text-xl md:text-3xl lg:text-4xl;
}

.component-gallery {
  @apply grid grid-cols-1 gap-5 py-[3%];
}

.filter-bar {
  @apply flex flex-row flex-wrap justify-center gap-2 py-[1%];
}

.filter-item {
  @apply rounded-lg bg-white px-4 py-1;
}

.filter-item:hover {
  @apply text-violet-700;
}

.filter-item-active {
  @apply bg-violet-700 text-white;
}

.filter-item-active:hover {
  @apply text-white;
}

.search-box {
  @apply w-[100%] border-black border-solid border-[3px] rounded-lg px-[2%] py-[1%] bg-white;
}

.search-box:focus {
  @apply outline-none border-violet-700;
}

.show-toggle {
  @apply underline;
}

.show-toggle:hover {
  @apply text-violet-700;
}
