@tailwind base;
@tailwind components;
@tailwind utilities;


/* global */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    margin: 9% 0;
}


/* theme */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* custom */

.content {
  @apply px-[2%];
}

.main-title {
  @apply text-5xl text-center;
}

.main-gallery {
  @apply grid grid-cols-1 gap-5 px-[3%] py-[2%];
}

.main-partition-left {
  @apply align-middle my-auto h-[2px] bg-gradient-to-l from-purple-500;
}

.main-partition-right {
  @apply align-middle my-auto h-[2px] bg-gradient-to-r from-purple-500;
}

.item-anchor {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;
}

.component-title {
  @apply text-4xl;
}

.component-gallery {
  @apply grid grid-cols-1 gap-5 py-[3%];
}
